<div class="page">
	<div class="page_content">
		<header class="header">
				{{> logo}}
		
			<nav class="nav">
				{{#each links}}
					<a class="nav_link link_animation" href="{{url}}">{{text}}</a>	
				{{/each}}
			</nav>	
			</header>
		{{> divider}}

			{{#with hero}}
				<div class="hero">
					<h2>{{title}}</h2>
					<p>{{description}}</p>
					{{#with button}}
					<a class='button' href='{{url}}'>{{text}}</a>
					{{/with}}
				</div>
			{{/with}}

			{{#with about}}
				<h4>{{heading}}</h4>
				<p>{{info}}</p>
			{{/with}}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<div class="advantages">
				{{#each advantages}}
					<div>
						<strong>{{title}}</strong>
						<p>{{text}}</p>
					</div>
				{{/each}}
			</div>
		
		<footer class="footer">
			<div>
				 
			 <span class="footer_copyright"> @ 2023</span>
			</div>

			{{#each footer}}
			<div>
				<h4 class="title ">{{title}}</h4>
				{{> nav list=links isVertical=true}}
			</div>
			{{/each}}

		</footer>
	</div>
</div>  
